.chatmain
  .chatmain__groupinfo

  .chatmain__messagelist
    .chatmain__messagelist--name
      masa
    .chatmain__messagelist--mes
      おはよう
  .chatmain__messageform
    .chatmain__messageform--box
      type a message
      .chatmain__messageform--box--mes
      .chatmain__messageform--box--img
    .chatmain__messageform--send
    