.sidebar
  .sidebar__username
    .topitems
      .topitems__name
        masa
      .topitems__icon
        = icon('fab', 'facebook-square', class: 'topitems__icon--1')
        = icon('fab', 'facebook-square', class: 'topitems__icon--2')
  .sidebar__grouplist
    .sidebar__grouplist--messages
      .sidebar__grouplist--messages--group
        a
      .sidebar__grouplist--messages--mes
        aa